* {

  text-decoration: none;
  margin: 0px;
}


.header_container {
  font-family: Alba;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-wrap: wrap;
   padding: 20px;
   /* background-color: rgb(230, 189, 189); */
}

.logo_position {
 
  flex: 1;
}

.header_logo {
  /* color: rgb(253, 214, 221); */
  /* color: rgb(189, 77, 13); CORE COLOR */ 
  /* color: rgb(233, 233, 23); CORE YELLOW */
  /* color: rgb(189, 77, 13); */
}

.logo_gradient {

    font-size: 50px;
    background: -webkit-linear-gradient(rgb(124, 82, 4), brown, #fff892);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}

@media (min-width:480px)  { 

}


