

@font-face {
    font-family: 'Alba';
    src: local('Alba'), url('./alba.super.ttf') format('truetype');
  }

  body {
    font-family: Alba;
    /* background: radial-gradient(circle, rgb(147, 247, 250) 0%, rgb(179, 38, 249) 200%); */
     background: radial-gradient(circle, rgb(147, 247, 250) 20%, rgb(179, 38, 249) 200%);
}