.hero_container {
    
  color: green;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.hero_landing1 {
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.item1 {
  /* background: #ce8888; */
  flex: 2;
  height: 100px;

}

.item2 {
  /* background: #ce8888; */
  flex: 3;
  height: 100px;
}


.hero_img {
  display: flex;
  justify-content: center;
}

.pushable {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}