
button {
  font-family: Alba;
}
.hero_container {
    
  /* color: rgb(38, 104, 38); */
  color: white;
  text-shadow: 2px 2px #054f58;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* font-family: KoolBeans-eerm; */
}

.hero_landing1 {
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.item_button {
  flex: 1;
  align-items: center;
}

.item_text {
  flex: 1;
  padding: 1%;
  align-items: center;
  color: white;
  text-shadow: 2px 2px #054f58;
}


.hero_img {
  /* border: 1px solid lime;
  border-radius: 90px;
  margin: 20px;
  z-index: 1; */
}

.pushable {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}